.editor,
.editor__headerPanel {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor {
  gap: 20px;
}

.editor__headerPanel {
  width: 100%;
  gap: 5px;
}

.editor__headerField {
  width: 100%;
}

.editor__headerField * {
  width: 200px;
}

.editor__headerField input {
  all: unset;
  padding: 5px;
  background-color: var(--fg-field);
  border: none;
  border-radius: 8px;
}

.editor__headerField input:focus {
  border: 2px solid var(--bg-accent);
}

.editor__view {
  max-width: 842px;
  max-height: 842px;
  width: 80vw;
  height: 50vh;
  padding: 8px;
  border: 1px solid var(--fg);
  border-radius: 8px;
}
