@font-face{
  font-family: 'Symbols Only';
  src: url("/fonts/Symbols.ttf");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {

  --bg: #eff1f5;
  --bg-secondary: #e6e9ef;
  --bg-selection: #7c7f93;
  --bg-accent1: #fe640b;
  --bg-accent2: #209fb5;
  --fg: #4c4f69;
  --fg-subtext: #acb0be;
  --fg-secondary: #8839ef;
  --fg-field: #dce0e8;
  --fg-warning: #df8e1d;
  --fg-error: #d20f39;
  --fg-links: #1e66f5;
  --fg-success: #40a02b;
  
  color: var(--fg);

  font-size: 18px;

  font-family: Courier New, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  scroll-behavior: smooth;
  scrollbar-width: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: var(--bg-selection);
  opacity: 0.2;
}

::selection {
  background: var(--bg-selection);
  opacity: 0.2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main {
  display: flex;
  align-items: center;
  padding: 1em;
}

header {
  font-size: 1.3em;
  display: flex;
}

main {
  flex-direction: column;
  flex-grow: 1;
}

a,
a:visited {
  color: var(--fg-links);
  text-decoration: none;
}

button {
    all: unset;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.icon {
  font-family: 'Symbols Only';
}
